<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.icc.dao.AddressDao">
	
	<!-- 根据cityno查询 -->
	<select id="queryAllDataByCityNo" parameterType="java.lang.String"
		resultMap="AddressDataMap">
		select c.cityname,c.cityno,a.areaname,a.areano,s.streetname,s.streetno
	 	from CITY_INFO c,AREA_INFO a,STREET_INFO s
			where c.cityno=a.BELONG_CITYNO
		and a.areano=s.BELONG_AREANO AND c.CITYNO=#{cityNo}
	</select>
	<resultMap type="com.icc.entity.CityInfo" id="AddressDataMap">
		<id property="Id" column="id" />
		<result property="cityName" column="cityname"/>
		<result property="cityNo" column="cityno"/>
		<collection property="area" ofType="com.icc.entity.AreaInfo">
			<id property="Id" column="ID" />
			<result property="areaName" column="areaname"/>
			<result property="areaNo" column="areano"/>
			<collection property="street" ofType="com.icc.entity.StreetInfo">
				<id property="Id" column="ID"/>
				<result property="streetName" column="streetname"/>
				<result property="streetNo" column="streetno"/>
			</collection>
		</collection>
	</resultMap>
	
	<!--城市下的区域  -->
	<select id="queryCityAndAreaByCityNo" parameterType="java.lang.String" resultMap="CityAndAreaDataMap">
		select a.AREANAME,a.AREANO,c.CITYNAME,c.CITYNO
		from AREA_INFO a,CITY_INFO c
		where c.CITYNO=a.BELONG_CITYNO and c.CITYNO=#{cityNo}
	</select>
	<resultMap type="com.icc.entity.CityInfo" id="CityAndAreaDataMap">
		<!-- <id property="Id" column="id"/> -->
		<result property="cityName" column="CITYNAME"/>
		<result property="cityNo" column="CITYNO"/>
		<collection property="area" ofType="com.icc.entity.AreaInfo">
			<!-- <id property="Id" column="id"/> -->
			<result property="areaName" column="AREANAME"/>
			<result property="areaNo" column="AREANO"/>
		</collection>
	</resultMap>
	<!--区域下的街道  -->
	<select id="queryAreaAndStreetByAreaNo" parameterType="java.lang.String" resultMap="AreaAndStreetDataMap">
		select a.AREANAME,a.AREANO,s.STREETNAME,s.STREETNO
		from AREA_INFO a,STREET_INFO s
		where a.AREANO=s.BELONG_AREANO and a.AREANO=#{areaNo}
	</select>
	<resultMap type="com.icc.entity.AreaInfo" id="AreaAndStreetDataMap">
		<!-- <id property="Id" column="id"/> -->
		<result property="areaName" column="AREANAME"/>
		<result property="areaNo" column="AREANO"/>
		<collection property="street" ofType="com.icc.entity.StreetInfo">
			<!-- <id property="Id" column="id"/> -->
			<result property="streetName" column="STREETNAME"/>
			<result property="streetNo" column="STREETNO"/>
		</collection>
	</resultMap>
	
	<select id="queryCityInfo" resultType="com.icc.entity.CityInfo">
		select * from CITY_INFO;
	</select>
	<select id="queryAreaByCityNo" resultType="java.util.HashMap" parameterType="java.lang.String">
	select c.cityname,c.cityno,a.areaname,a.areano
	 	from CITY_INFO c,AREA_INFO a
			where c.cityno=a.BELONG_CITYNO and c.CITYNO=#{cityNo}
	</select>
	<select id="queryAreaInfo" resultType="com.icc.entity.AreaInfo">
		select * from AREA_INFO;
	</select>
	
	<select id="queryStreetInfo" resultType="com.icc.entity.StreetInfo">
		select * from STREET_INFO;
	</select>
</mapper>