<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.icc.dao.BlackListDao">

	<insert id="insertBlackListUsers">
		<selectKey keyProperty="id" resultType="String" order="BEFORE">
			select replace(uuid(),'-','')  from dual
		</selectKey>
		insert into BLACKLIST(
			id,
			userid,
			black_userid,
			blacklist_status,
			deleted
		)
		values(
			#{id},
			#{userId},
			#{blackUserId},
			#{blackListStatus},
			0
		)
	</insert>
</mapper>