<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.icc.dao.BusinessCooperationDao">
	
	<insert id="insertBusinessCooperation">
		<selectKey order="BEFORE" resultType="String" keyProperty="businessId">
			select replace(uuid(),'-','') from dual
		</selectKey>
		insert into BUSINESS_COOPERATION(
			BUSINESS_ID,
			COOPERATION_USERID,
			COOPERATION_MOBILEPHONE,
			COOPERATION_CONTENT,
			CREATE_TIME,
			DELETED
		)
		values(
			#{businessId},
			#{cooperationUserId},
			#{cooperationMobilePhone},
			#{cooperationContent},
			now(),
			0
		)
	</insert>
</mapper>