<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icc.dao.EntityAccessLogDao">

	<resultMap id="EntityAccessLogResult" type="com.icc.entity.EntityAccessLog">
		<result property="id" column="ID" />
		<result property="operator" column="OPERATOR" />
		<result property="serviceName" column="SERVICE_NAME" />
		<result property="methodName" column="METHOD_NAME" />
		<result property="paramsContent" column="PARAMS_CONTENT" />
		<result property="operationTime" column="OPERATION_TIME" />
		<result property="createBy" column="CREATE_BY" />
		<result property="updateBy" column="UPDATE_BY" />
		<result property="createTime" column="CREATE_TIME" />
		<result property="updateTime" column="UPDATE_TIME" />
	</resultMap>

	<insert id="create" parameterType="com.icc.entity.EntityAccessLog">
		<selectKey keyProperty="id" resultType="String" order="BEFORE">  
        select  replace(uuid(),'-','')   from dual  
    	</selectKey>
		INSERT INTO T_ENTITY_ACCESS_LOG (ID, OPERATOR, SERVICE_NAME, METHOD_NAME, PARAMS_CONTENT, OPERATION_TIME, CREATE_BY, CREATE_TIME)
		VALUES (#{id, jdbcType=VARCHAR}, #{operator, jdbcType=VARCHAR}, #{serviceName, jdbcType=VARCHAR}, #{methodName, jdbcType=VARCHAR}, #{paramsContent, jdbcType=LONGVARCHAR},now(), #{createBy, jdbcType=VARCHAR}, now())
	</insert>
	<insert id="createwe">
		<selectKey keyProperty="id" resultType="String" order="BEFORE">select replace(uuid(),'-','') from dual</selectKey>
		insert into t_entity_access_log(id)
		values(#{id})
	</insert>

	<select id="read" parameterType="int" resultMap="EntityAccessLogResult" useCache="false">
		SELECT * FROM T_ENTITY_ACCESS_LOG WHERE ID = #{id}
	</select>
	
	<select id="findAll" resultMap="EntityAccessLogResult" useCache="false">
		SELECT * FROM T_ENTITY_ACCESS_LOG ORDER BY ID DESC
	</select>
	
	<update id="update" parameterType="com.icc.entity.EntityAccessLog">
		UPDATE T_ENTITY_ACCESS_LOG
		SET OPERATOR=#{operator, jdbcType=VARCHAR}, SERVICE_NAME=#{serviceName, jdbcType=VARCHAR}, METHOD_NAME=#{methodName, jdbcType=VARCHAR}, PARAMS_CONTENT=#{paramsContent, jdbcType=LONGVARCHAR}, OPERATION_TIME=#{operationTime, jdbcType=TIMESTAMP}, UPDATE_BY=#{updateBy, jdbcType=VARCHAR}, UPDATE_TIME=now()
		WHERE ID = #{id}
	</update>
	
	<delete id="delete">
		DELETE FROM T_ENTITY_ACCESS_LOG
		WHERE ID = #{id}
	</delete>

	<select id="queryUser" resultType="com.icc.entity.User">
		select * from user where openId='oBfPWv7Q23DXTkIee_H6f_X6vNQY'
	</select>
</mapper>