<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.icc.dao.EntrustLeaseDao">
	
	<insert id="insertEntrustLease">
		<selectKey keyProperty="Id" resultType="String" order="BEFORE">
			select replace(uuid(),'-','')  from dual
		</selectKey>
		insert into ENTRUST_LEASE(
			ID,
			ENTRUST_USERID,
			SHOPSID,
			AGENT_SCHEDULE,
			DELETED
		)
		values(
			#{Id},
			#{entrustUserId},
			#{shopsId},
			#{agentSchedule},
			0
		)
	</insert>
	
	<select id="queryEntrustLeaseExist" resultType="java.lang.Integer">
		select count(*) from ENTRUST_LEASE where shopsid=#{shopsId}
	</select>
</mapper>