<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.icc.dao.RecommendPropertyDao">

	<insert id="insertRecommendProperty">
		<selectKey order="BEFORE" resultType="String" keyProperty="recommendId">
			select replace(uuid(),'-','') from dual
		</selectKey>
		insert into RECOMMEND_PROPERTY(
			RECOMMEND_ID,
			RECOMMEND_USERID,
			PROPERTY_ADDRESS,
			PROPERTY_SIZE,
			PROPERTY_USERNAME,
			PROPERTY_MOBILEPHONE,
			CREATE_TIME,
			DELETED
		)
		values(
			#{recommendId},
			#{recommendUserId},
			#{propertyAddress},
			#{propertySize},
			#{propertyUserName},
			#{propertyMobilePhone},
			now(),
			0
		)
	</insert>
</mapper>