<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.icc.dao.ShopsHistoryDao">

	<resultMap type="com.icc.entity.ShopsHistory" id="ShopsHistoryMap">
		<result column="version" property="version"/>
		<result column="userClick" property="userClick"/>
		<result column="id" property="id"/>
	</resultMap>
	
	<select id="queryShopsHistoryInfo" resultMap="ShopsHistoryMap">
		select version,id,user_click as userClick  from SHOPS_HISTORY where id=#{shopsId}
	</select>

	<update id="updateForOptimisticLocking">
		<![CDATA[
			update SHOPS_HISTORY 
        	set user_click=#{userClick},version=version+1 
        	where id=#{shopsId} and version=#{version}
		]]>
	</update>
	
	<!-- 编辑发布商铺 -->
	<update id="updateHistoryShopInformationRelease">
		update SHOPS_HISTORY
		set SHOPS_NAME=#{shopsName},SHOPS_BRAND=#{shopsBrand},RENT_TYPE=#{rentType},RENT_FEE=#{rentFee},TOTAL_RENT_FEE=#{totalRentFee},RENT_TREM=#{rentTrem},EXPECT_BUSINESS_TYPE=#{expectBusinessType},ESTATE_FEE=#{estateFee},
		ESTATES_TYPE=#{estatesType},RELEASE_TYPE=#{releaseType},CURRENTSHOP_STATUS=#{currentShopStatus},EXPECT_RENTFEE=#{expectRentFee},RENT_BRAND=#{rentBrand},CURRENTSHOPBUSINESS_TYPE=#{currentShopBusinessType},SURPLUSLEASE_TREM=#{surplusLeaseTrem},
		EXPECT_RENTFEE_MIN=#{expectRentFeeMin},EXPECT_RENTFEE_MAX=#{expectRentFeeMax},FLOOR=#{floor},OPENROOM=#{openRoom},STORIES=#{stories},COLUMNSBETWEEN=#{columnsBetween},DEPTH=#{depth},
		MOBILEPHONE=#{mobilePhone},THUMBNAIL_URL=#{thumbnailURL},UPDATE_TIME=now(),
		CONTRACT_ENDDATE=#{contractEndDate},CONTRACT_RENTFEE=#{contractRentFee},SUBLET_FEE=#{subletFee},SUBLET_MODE=#{subletMode},SUBLET_REASON=#{subletReason},
		SHARERENTMODEL=#{shareRentModel},SPLITRENT_FEE=#{splitRentFee},EQUIPMENTLIST=#{equipmentList},WEEKORMONTH=#{weekOrMonthType},WEEKORMONTHDATA=#{weekOrMonthData},RENTVAILABLESIZE=#{rentVailableSize}
		where ID=#{id}
	</update>
	<!-- 更新主表的historyid -->
	<update id="updateBaseRentShopHistoryId">
		<!-- update SHOPS
		set HISTORYID=#{shopsId}
		where ID={baseShopsId} -->
		update SHOPS
		set ADDRESS=#{address},SHOP_SIZE=#{shopSize},LAT=#{lat},LNG=#{lng},CITY=#{cityNo},AREA=#{areaNo},update_time=now()
		where 
		<if test="baseShopsId!=null">ID=#{baseShopsId} and</if>HISTORYID=#{shopsId}
	</update>
	
	<select id="queryShopsLocationList" resultType="java.util.HashMap">
		select 
		s.ADDRESS address,
		s.LNG lng,
		s.LAT lat,
		s.HISTORYID shopsId,
		sh.SHOPS_NAME shopsName 
		from SHOPS s inner join SHOPS_HISTORY sh
		on s.ID=sh.BASE_SHOPSID
		where 1=1
		<!-- <if test="keyWord!=null">
		 <![CDATA[and sh.shops_name=#{keyWord}]]>
		</if> -->
		<if test="rightLat !=null">
		 <![CDATA[and s.LAT<#{rightLat}]]>
		</if>
		<if test="leftLat !=null">
		 <![CDATA[and s.LAT>#{leftLat}]]>
		</if>
		<if test="rightLng !=null">
		 <![CDATA[and s.LNG<#{rightLng}]]>
		</if>
		<if test="leftLng !=null">
		 <![CDATA[and s.LNG>#{leftLng}]]>
		</if>	
	</select>
	
	<update id="updateShopsHistoryCommentsFrequen">
		update SHOPS_HISTORY set COMMENTS_FREQUEN=COMMENTS_FREQUEN+1 where ID=#{shopsId}
	</update>
	
	<select id="queryShopsHistoryForUpdateOpensearch" resultType="java.util.HashMap">
		select 
		s.HISTORYID as shopsid,
		s.CITY as cityno,
		s.AREA as areano,
		s.ADDRESS as address,
		s.LAT as lat,
		s.LNG as lng,
		s.SHOP_SIZE as shopsize,
		sh.SHOPS_NAME as shopsname,
		sh.RENT_FEE as rentfee,
		sh.TOTAL_RENT_FEE as totalrentfee,
		sh.ESTATE_FEE as estatesfee,
		sh.ESTATES_TYPE as estatestype,
		sh.BUSINESS_TYPE as businesstype,
		sh.THUMBNAIL_URL as thumbnailurl,
		sh.CONTRACT_RENTFEE as contractrentfee,
		sh.RELEASE_TYPE as releasetype
		from SHOPS s inner join SHOPS_HISTORY sh on s.ID=sh.BASE_SHOPSID and s.HISTORYID=sh.ID
		where sh.DELETED=0
	</select>
	
	<select id="queryShopsIdsForUserId" resultType="String">
		select sh.ID from SHOPS_HISTORY sh left join SHOPS s on s.HISTORYID=sh.ID where USERID=#{userId}
	</select>
</mapper>