<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.icc.dao.SysNoticeDao">

	<resultMap type="java.util.Map" id="SysNoticeMap">
		<result column="noticeName" property="noticeName" />
		<result column="noticeContent" property="noticeContent" />
		<result column="releaseTime" property="releaseTime" />
		
		<result column="delete" property="delete" />
	</resultMap>
	
	<select id="querySysNoticeList" resultMap="SysNoticeMap">
		select notice_name as noticeName,
			   notice_content as noticeContent,
			   release_time as releaseTime
	 	from SYS_NOTICE 
	</select>
</mapper>