<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.icc.dao.CommentsDao">
	
	<insert id="insertUserComments" parameterType="com.icc.entity.Comments">
		<selectKey keyProperty="CommentsId" resultType="String" order="BEFORE">  
        	select  replace(uuid(),'-','')   from dual  
    	</selectKey>
		insert into SHOPS_COMMENTS(
			ID,
			SHOPSID,
			USERID,
			COMMENTS_TIME,
			COMMENTS_CONTENT,
			REPLY_COMMENTSID,
			DELETED
		)values(
			#{CommentsId},
			#{shopsId},
			#{UserId},
			now(),
			#{commentsContent},
			#{replyCommentsId},
			0
		);
	</insert>
	
	<select id="queryShopsCommentsByShopsId" resultType="java.util.HashMap">
		select
		sc.ID as commentsId,
		sc.USERID commentsUserId,
		u.NICKNAME nickName,
		u.HEADIMG headImg,
		sc.COMMENTS_TIME commentsTime,
		sc.COMMENTS_CONTENT commentsContent,
		sc.REPLY_COMMENTSID replyCommentsId
		<!-- REPLY_USERID replyUserId -->
		from SHOPS_COMMENTS  sc
		left join USER u
		on sc.USERID=u.ID 
		where sc.SHOPSID=#{shopsId} and sc.DELETED=0
		order by sc.COMMENTS_TIME desc
	</select>
</mapper>