<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.icc.dao.UserAccessShopsDao">
	
	<insert id="insertUserAccessShops" parameterType="com.icc.entity.UserAccessShops">
		<selectKey keyProperty="accessId" order="BEFORE" resultType="String">
			select  replace(uuid(),'-','')   from dual
		</selectKey>
		insert into USER_ACCESS_SHOPS(
			ACCESS_ID,
			ACCESS_TIME,
			ACCESS_USERID,
			SHOPSID,
			USERID,
			STATUS
		)
		values(
			#{accessId},
			now(),
			#{accessUserId},
			#{shopsId},
			#{userId},
			0
		)
	</insert>
	<!-- 先查询再更新 -->
	<select id="queryUserAccessShops" resultType="com.icc.entity.UserAccessShops">
		select version,access_userid accessUserId,shopsid shopsId,userid userId,access_time accessTime from USER_ACCESS_SHOPS 
		where ACCESS_USERID=#{accessUserId} and SHOPSID=#{shopsId} <!-- and USERID=#{userId} -->
	</select>
	<update id="updateForOptimisticLocking">
		update USER_ACCESS_SHOPS set ACCESS_COUNT=ACCESS_COUNT+1,VERSION=VERSION+1,ACCESS_TIME=now() 
		where ACCESS_USERID=#{accessUserId} and SHOPSID=#{shopsId} <!-- and USERID=#{userId} --> and VERSION=#{version}
	</update>
	
	<!-- 谁看过我30天内 -->
	<select id="queryUsersAccessIn30Days" resultType="java.util.HashMap" >
		select access_userid accessUserId, 
		access_time accessTime,
		access_count accessCount,
		shopsid accessShopsId,
		u.nickname nickName,
		u.headimg headImg,
		u.mobilephone mobilePhone
		from USER_ACCESS_SHOPS uas 
		left join USER u on u.id=uas.access_userid
		where 1=1 and uas.access_time between date_sub(CURRENT_TIMESTAMP(),interval 1 month) and CURRENT_TIMESTAMP()
		<if test="list!=null and list!=''">
			and shopsid in
			<foreach collection="list" item="item" index="index" open="(" separator="," close=")">
				<if test="item!=null ">
				#{item}
				</if>
			</foreach>
		</if>
	</select>
</mapper>