<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.icc.dao.WeixinUserShareDao">
	
	<update id="updateShopsHistoryForwardFrequen">
		update SHOPS_HISTORY set FORWARD_FREQUEN=FORWARD_FREQUEN+1
		where id=#{detailId}
	</update>
	<update id="updateRentShopsForwardFrequen">
		update RENT_SHOPS set FORWARD_FREQUEN=FORWARD_FREQUEN+1
		where RENT_ID=#{detailId}
	</update>
	
	<select id="queryDetailIdForShopsHistoryTable" parameterType="java.lang.String" resultType="java.lang.Integer">
		select count(*) from SHOPS_HISTORY where id=#{detailId} order by id
	</select>
	<select id="queryDetailIdForRentShopsTable" parameterType="java.lang.String" resultType="java.lang.Integer">
		select count(*) from RENT_SHOPS where rent_id=#{detailId} order by rent_id
	</select>
	
	<select id="queryForwardFrequenByShopsHistory" parameterType="java.lang.String" resultType="java.lang.Integer">
		select FORWARD_FREQUEN from SHOPS_HISTORY where id=#{detailId}
	</select>
	<select id="queryForwardFrequenByRentShops" parameterType="java.lang.String" resultType="java.lang.Integer">
		select FORWARD_FREQUEN from RENT_SHOPS where rent_id=#{detailId}
	</select>
</mapper>