<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">
	
	<bean id="doTimeForUploadData" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail">
			<ref bean="jobTaskForUploadData"/>
		</property>
		<property name="cronExpression">
			<value>0 0 23 * * ?</value>
			<!-- <value>*/10 * * * * ?</value> -->
		</property>
	</bean>
	<bean id="jobTaskForUploadData" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="uploadDataJob"/>
		</property>
		<property name="targetMethod">
			<value>uploadDataByJob</value>
		</property>
        <property name="concurrent" value="false" />
	</bean>
	<bean id="uploadDataJob" class="com.icc.wechat.quartz.UploadOpensearchDataJob"></bean>
</beans>