<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans     
    http://www.springframework.org/schema/beans/spring-beans-4.1.xsd     
    http://www.springframework.org/schema/context     
    http://www.springframework.org/schema/context/spring-context-4.1.xsd  
    http://www.springframework.org/schema/tx  
    http://www.springframework.org/schema/tx/spring-tx-4.1.xsd  
    http://www.springframework.org/schema/aop  
    http://www.springframework.org/schema/aop/spring-aop-4.1.xsd">

	<context:annotation-config />
	<!-- 扫描com.eric 下所有的包 -->
	<context:component-scan base-package="com.icc.aop.service" />

	<!-- AOP通知 -->
	<bean id="caulteTimesAdvice" class="com.icc.aop.aspect.CaulteTimesAspect" />
	<bean id="exceptionProceessor" class="com.icc.aop.aspect.ExceptionProceessor" />
	<bean id="mybatisDaoAdvice" class="com.icc.aop.aspect.MybatisDaoAdvice"/>
	<bean id="userClickAdvice" class="com.icc.aop.aspect.ShopsUserClickAdvice"/>
	<bean id="accountLogAdvice" class="com.icc.aop.aspect.AccountLogAdvice"/>
	<bean id="accessShopsAdvice" class="com.icc.aop.aspect.UserAccessShopsAdvice"/>
	
	<aop:config>
		<!-- must be of type [org.aopalliance.aop.Advice] -->
		<aop:advisor pointcut="execution(com.icc.entity.User com.icc.service.*Service.*(..))" advice-ref="caulteTimesAdvice" order="2"/>
		<aop:advisor pointcut="execution(* com.icc.service.ShopsService.*(..))" advice-ref="userClickAdvice" order="3"/>
		<aop:advisor pointcut="execution(* com.icc.service.UserService.*(..))" advice-ref="userClickAdvice" order="3"/>
		<aop:advisor pointcut="execution(* com.icc.dao.ShopsHistoryDao.*(..))" advice-ref="transactionAdvice" />
		<aop:advisor pointcut="execution(* com.icc.service.ShopsService.*(..))" advice-ref="accessShopsAdvice" />
		<aop:advisor pointcut="execution(* com.icc.service.UserService.*(..))" advice-ref="accessShopsAdvice" />
		<!-- <aop:advisor pointcut="execution(* com.icc.service.*Service.*(..))" advice-ref="mybatisDaoAdvice" order="4"/> -->
		<!-- 请求异常处理 -->
		<aop:aspect ref="exceptionProceessor" order="4">
			<aop:around method="exceptionProceess" pointcut="execution(* com.icc.service.*Service.*(..))"/>
			<aop:around method="exceptionProceess" pointcut="execution(* com.icc.aop.service.*Service.*(..))" />
		</aop:aspect>
		<!-- 浏览记录 -->
		<aop:aspect ref="userClickAdvice" order="5">
			<aop:before method="doAfterRecordLog" pointcut="execution(* com.icc.service.*.*ServiceImpl.*(..))"/>
			<aop:after method="doAfterRecordLog" pointcut="execution(* com.icc.service.*.*ServiceImpl.*(..))"/>
		</aop:aspect>
		<!-- 谁看过记录 -->
		<!-- <aop:aspect ref="accessShopsAdvice" order="7">
			<aop:before method="doAfterRecordLog" pointcut="execution(* com.icc.service.*.*ServiceImpl.*(..))"/>
		</aop:aspect> -->
		<!-- 拦截记录日志 -->
		<aop:aspect ref="accountLogAdvice" order="1">
			<!-- <aop:after method="doAfterRecordLog" pointcut="execution(* com.icc.dao.*Dao.*(..))"/> -->
			<aop:after method="doAfterRecordLog" pointcut="execution(* com.icc.service.*Service.*(..))"/>
		</aop:aspect>
		<aop:aspect ref="mybatisDaoAdvice" order="6"><!-- ProceedingJoinPoint is only supported for around advice -->
			<aop:around method="execute" pointcut="execution(* com.icc.dao.*Dao.*(..))"/>
		</aop:aspect>
		<!-- 规则验证 -->
	</aop:config>
</beans>